* {
    margin: 0;
}

a {
    text-decoration: none;
    color: #0066bf;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: white;
}

.page {
    display: flex;
    align-items: center;
}

.block-head {
    display: flex;
    width: 1110px;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    object-fit:cover;
}

.header img {
    cursor: pointer;
    height: 30px;
}

.header div {
    color: #0066bf;
}

.body_div {
    height: 100%;
    width: 100%;
}

.background_first {
    display: flex;
    justify-content: center;
    height: 487px;
    width: 100%;
    background-color: #292d33;
}

.background_second {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    height: 250px;
    width: 100%;
    background-color: #292d33;
    color:white;
}

.about {
    width: 421.81px;
    height: 364.72px;
}

.about h1 {
    color:#f1c50e;
    font-size: 3.75rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    font-weight: 700;
    padding-top: 15%;
}

.about_study {
    padding-top: 20px;
    color: white;
    font-style: italic;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.freepik {
    padding-top: 12px;
    color: white;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
}

.freepik a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.container_in {
    display: flex;
    flex-direction: column;
}

.container_foto {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.body_img1 img {
    padding-top: 56px;
    width: 554px;
    height: 581px;
    object-fit:cover;
}

.bs_p1 {
    padding-top: 50px;
    width: 402px;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    line-height: 1.6;
    font-size: 0.875rem;
}

.bs_p2 {
    padding-top: 100px;
}

.bs_p2 a {
    color:#387cbd;
}

.burger {
    display: none;
}

.modile_background1 {
    display: none;
}

.background_third {
    display: none;
}

.foto2 img {
    width: 209px;
    height: 225px;
    object-fit:cover;
}

.foto3 img {
    width: 209px;
    height: 225px;
    object-fit:cover;
}

@media (max-width:1200px) {
    .block-head {
        width: 950px;
    }
    .container {
        width: 950px;
    }

    .body_img1 img {
        width: 503px;
        height: 536px;
    }

    .container_foto {
        margin-top: 59px;
    }

    .foto2 img {
        width: 188px;
        height: 202px;
    }

    .foto3 img {
        width: 188px;
        height: 202px;
    }
}

@media (max-width: 992px) {
    .block-head {
        width: 720px;
    }
    .about {
        width: 698px;
        height: 240.72px;
    }
    .about h1 {
        padding-top: 30px;
        font-size: 60px;
    }
    .freepik {
        padding-top: 12px;
    }
    .page {
        display: none;
    }

    .container_foto {
        margin-top: 30px;
    }
    .burger img {
        cursor: pointer;
        margin-top: 0px;
        margin-left: 0px;
    }

    .burger {
        display: flex;
        align-items: center;
    }

    .background_first {
        display: none;
    }

    .background_second {
        display: none;
    }

    .modile_background1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 1400px;
        background-color: #292d33;
        align-items: center;
    }

    .modile_body_img1 img {
        padding-top: 370px;
        width: 720px;
        height: 758px;
    }

    .background_third {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 230px;
        height: 250px;
        width: 100%;
        background-color: #292d33;
        color:white
    }

    .foto2 img {
        padding-top: 0px;
        height: 365px;
        width: 345px;
    }

    .foto3 img {
        padding-top: 0px;
        height: 365px;
        width: 345px;
    }
}

@media (max-width: 768px) {
    .block-head {
        width: 540px;
    }
    .modile_background1 {
        height: 1100px;
    }
    .modile_body_img1 {
        display: flex;
        justify-content: center;
    }
    .container_foto {
        margin-top: 70px;
        flex-direction: column;
    }
    .modile_background1 img {
        padding-top: 1050px;
        width: 540px;
        height: 561px;
    }
    .foto2 img {
        padding-top: 0px;
        height: 563px;
        width: 540px;
    }

    .foto3 img {
        padding-top: 0px;
        height: 563px;
        width: 540px;
    }

    .about h1 {
        font-size: 60px;
    }

    .about {
        width: 527px;
        height: 240.72px;
    }

    .about_study {
        font-size: 16px;
    }

    .background_third {
        margin-top: 1100px;
    }
}

@media (max-width: 576px) {
    .block-head {
        width: 340px;
    }
    .modile_background1 img {
        padding-top: 400px;
        width: 340px;
        height: 342px;
    }
    .about {
        width: 342px;
        height: 240.72px;
    }

    .about h1 {
        font-size: 36px;
    }
    .foto2 img {
        padding-top: 0px;
    }

    .foto3 img {
        margin-top: 30px;
        padding-top: 0px;
    }
    .background_third {
        margin-top: 390px;
    }
}

@media (max-width: 402px) {
    .bs_p1 {
        width: 100%;
    }

    .bs_p2 {
        text-align: center;
    }
}