* {
    margin: 0 auto;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.container {
    height: 100%;
    width: 54%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0px black;
}

.container_hosting {
    margin: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_hosting {
    margin-top: 3px;
    margin-bottom: 3px;
    height: 80px;
}

.name_container_hosting {
    color: rgb(253, 144, 1);
    margin-top: 3px;
    margin-bottom: 3px;
}

.price_container_hosting {
    margin-top: 3px;
    margin-bottom: 3px;
}

.button_container_hosting {
    margin-top: 3px;
    margin-bottom: 10px;
    background-color: rgb(253, 144, 1);
    color: white;
    border: none;
}

.hr {
    margin: 0;
    background-color: gray;
    width: 0.1%;
    margin-top: 10px;
    margin-bottom: 10px;
}