*{
    margin: 0;
    padding: 0;
}

.start {
    position: relative;
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 400px;
    margin-top: 300px;
}

.container_start {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    height: 150px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 189, 1);
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    cursor: pointer;
}

.container_finish {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #303030;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    left:-382px;
    transition: left .4s linear;
}

.container_finish:hover {
    left: 0px;
    height: 150px;
    width: 600px;
}

img {
    width: 100px;
    height: 100px;
}

.container img {
    margin: 10px;
    margin-top: 25px;
}

p {
    margin: 30px;
    color: white;
}