* {
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    height: 400px;
    background: url('image/mops.jpg') 100%;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.main__block {
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.block__accounting {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(255, 255, 255, 0.274);
    width: 1000px;
    border-radius: 30px;
}

.block-header {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.text-in-the-title {
    font-style: italic;
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    font-weight: 100;
    height: 100%;
}

.container-data-entry {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.container-entry {
    display: flex;
    align-items: center;
    gap: 40px;
}

.title-place, .name_of_expenses{
    font-size: 30px;
}

.text-place {
    border: 0;
    outline: 0;
    border-radius: 30px;
    background-color: rgba(146, 146, 146, 0.171);
    width: 300px;
    height: 50px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: cursive;
    font-weight: 100;
    padding-left: 30px;
}

.text-expenses {
    border: 0;
    outline: 0;
    border-radius: 30px;
    background-color: rgba(146, 146, 146, 0.171);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 330px;
    height: 50px;
    font-size: 30px;
    font-family: cursive;
    font-weight: 100;
    padding-left: 30px;
}

.block-button {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.add-button:hover {
    cursor: pointer;
}

.message-block {
    display: none;
}

.message-block-on {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mops-error {
    width: 50px;
}

.mops-button {
    width: 70px;
}

.mops-button-on {
    width: 70px;
    animation: mops-button 2s linear infinite;
}

.add-a-list {
    border: 0;
    font-size: 20px;
    font-family: cursive;
    font-weight: 100;
    background-color: rgba(146, 146, 146, 0.171);
    height: 50px;
    width: 130px;
    margin-top: 30px;
}

.container {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-total {
    display: flex;
    justify-content: center;
}

.text-total {
    font-size: 20px;
    width: 860px;
    display: flex;
    justify-content: end;
}

.task-container {
    display: flex;
    width: 860px;
    justify-content: space-between;
}

.left-block-content {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 500px;
}

.right-block-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 400px;
}

.left-inner-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.right-inner-container {
    display: flex;
    gap: 10px;
}

.text_number {
    font-size: 20px;
}

.text_place {
    font-size: 20px;
    width: 400px;
    word-wrap: break-word;
}

.text_date {
    word-wrap: break-word;
    width: 158px;
    font-size: 20px;
}

.text_expenses {
    font-size: 20px;
    width: 100px;
    word-wrap: break-word;
}

.icon-in-content {
    width: 30px;
}

.change-in-textPlace {
    font-size: 20px;
    width: 400px;
    font-family: 'Times New Roman', Times, serif;
}

.change-in-textDate {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 153px;
}

.change-in-textExpenses {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 82px;
    height: 22px;
}

.add-button {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
}

.add-button-label {
    padding: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}

.icon-in-content {
    cursor: pointer;
}

.spinner {
    display: flex;
    justify-content: center;
}

@keyframes mops-button {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media(max-width:860px) {
    .text-in-the-title {
        text-align: start;
        width: 340px;
        font-size: 30px;
    }

    .container-data-entry {
        margin-top: 5px;
        align-items: center;
    }

    .container-entry {
        gap: 0px;
        width: 340px;
        flex-direction: column;
        align-items: flex-end;
    }

    .title-place {
        font-size: 15px;
    }

    .text-place {
        height: 30px;
        font-size: 15px;
        width: 330px;
    }

    .name_of_expenses {
        font-size: 15px;
    }

    .text-expenses {
        height: 30px;
        font-size: 15px;
    }

    .add-a-list {
        margin-top: 0px;
        height: 30px;
        width: 170px;
        font-size: 15px;
    }

    .block-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-total {
        width: 340px;
    }

    .container {
        width: 340px;
        gap: 25px
    }

    .task-container {
        width: 340px;
    }

    .left-block-content {
        width: 240px;
        align-items: normal;
        padding-top: 10px;
    }

    .right-block-content {
        width: 120px;
        flex-direction: column;
        gap: 10px;
    }

    .left-inner-container {
        flex-direction: column;
        gap:0px;
    }

    .text_place {
        width: 90%;
    }

    .text_date {
        width: 100px;
        text-align: end;
    }

    .text_expenses {
        width: 100px;
        text-align: end;
    }

    .change-in-textPlace {
        width: 180px;
        height: 25px;
    }

    .change-in-textDate {
        width: 120px;
    }

    .change-in-textExpenses {
        width: 117px;
        text-align: end;
    }
}