* {
    margin: 0;
}

.menu2 {
    display: none;
}

body {
    width: 100%;
    height: 100%;
}

.head {
    width: 100%;
    display: flex;
    justify-content: center;
}

.head-menu {
    display: flex;
    width: 1229px;
    justify-content: space-between;
}
.head ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px
}

.menu1 {
    display: flex;
    align-items: center;
}

.head img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.color_orange {
    color: orange;
}

.div_body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    align-items: center
}

.menu_about {
    display: flex;
    flex-direction: column;
    width: 750px;

}

.menu_about h2 {
    color: #f12c0e;
    font-size: 300%;
    font-family: 'Oswald', sans-serif;
    margin-top: 9%;
    margin-bottom: 2%;
}

.menu_about p {
    font-family: 'Open Sans',sans-serif;
    line-height: 1.6;
    font-style: italic;
}

.menu_about h2, p {
    text-align: center;
}

.catalog {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
}

.pizza_type {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 285px;
    width: 600px;
}

.pizza_type img {
    width: 255px;
    height: 249px;
    object-fit: cover;
    margin: 3%;
}

.pizza_type_about {
    margin-top: 5%;
    width: 50%;
}

.pizza_type_about h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 200%;
    font-weight: 400;
}

.pizza_about {
    font-style: italic;
    font-size: 150%;
    margin-top: 5%;
    text-align: start;
}

.price {
    color: #f12c0e;
    font-size: 193%;
    font-weight: 700;
    text-align: start;
    font-family: 'Roboto',sans-serif;
    margin-top: 5%;
}

.move_to_basket {
    cursor: pointer;
    margin-top: 4%;
    height: 15%;
    width: 60%;
    background-color: lightgrey;
}

.move_to_basket p {
    padding-top: 5%;
}

.div_body .text_about {
    margin-top: 20px;
    margin-bottom: 30px;
}

.div_body p>a {
    color: #f12c0e;
}

.freepik {
    margin-top: 2%;
    margin-bottom: 4%;
}

.footer {
    background-color: #333333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.first_p {
    padding-top: 4%;
    color: white;
    width: 410px;
}

.second_p {
    padding-top: 4%;
    color: white;
    padding-bottom: 2%;
}

.footer p>a{
    color: #f12c0e;
}

.block_page {
    width: 50px;
    height: 30px;
}

.block_page:hover {
    color: orange;
    cursor: pointer;
}

@media (max-width: 1250px) {
    .head-menu {
        width: 939px;
    }
    .pizza_type {
        width: 467px;
    }

    .pizza_type img {
        position: absolute;
        clip: rect(0px 212px 248px 36px);
        margin: 0;
        margin-top: 20px;
        margin-left: -10px;
    }

    .pizza_type_about {
        margin: 0;
        padding-top: 26px;
        padding-left: 220px;
        width: 50%;
    }

    .pizza_type_about h5 {
        font-size: 160%;
    }

    .move_to_basket {
        width: 80%;
    }

    .pizza_about {
        font-size: 124%;
        margin-top: 13%;
    }

    .price {
        margin: 0;
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 118%;
    }
}

@media (max-width: 973px) {
    .pizza_type_about {
        margin-left: 0;
        padding-left: 25px;
    }
    .menu1 {
        display: none;
    }
    .menu2 {
        display: block;
    }
    .menu_about {
        width: 728px;
    }

    .pizza_type_about h5 {
        font-size: 136%;
    }

    .pizza_type img {
        position: inherit;
        clip: inherit;
        margin: 0;
        margin-top: 4%;
        margin-left: 3%;
    }

    .pizza_type {
        width: 595px;
    }

    .pizza_about {
        font-size: 91%;
        margin-top: 5%;
        margin-left: 1%;
        margin-left: 13%;
    }

    .head img {
        padding-left: 50px;
    }

    .menu2 img{
        padding-left: 0;
        padding-right: 30px;
    }
}

@media (max-width: 732px) {
    .menu_about {
        width: 528px;
    }
    .pizza_type {
        width: 555px;
    }
    .pizza_type_about h5 {
        font-size: 180%;
    }
    .pizza_about {
        margin-left: 0;
        font-size: 157%;
    }

    .price {
        margin: 0;
        margin-top: 7%;
        font-size: 122%;
    }

    .menu2 img{
        padding-left: 0;
        padding-right: 30px;
    }
}

@media (max-width: 593px) {
    .menu_about {
        width: 328px;
    }
    .pizza_type {
        flex-direction: column;
        width: 350px;
        height: 484px;
    }

    .pizza_type_about {
        margin-left: 3%;
        width: 328px;
    }

    .pizza_about {
        font-size: 115%;
    }

    .price {
        margin-top: 3%;
        margin-bottom: 1%;
        font-size: 103%;
    }

    .move_to_basket {
        margin-top: 0;
    }

    .move_to_basket p {
        padding-top: 3%;
    }

    .move_to_basket {
        width: 60%;
        height: 30px;
    }

    .pizza_type img {
        height: 250px;
        width: 329px;
    }

    .first_p {
        width: 350px;
    }
}