.block-notification-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 600px;
    border-radius: 10px;
}

.notification-image {
    width: 150px;
}