html, body {
    height: 100%;
    width: 100%;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.container_circles {
    height: 100px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle_green {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
}

.circle_purple {
    background-color: purple;
}

.circle_grey {
    background-color: lightgray;
}

.stick {
    height: 5px;
    width: 80px;
    background-color: lightgray;
}
