html, body {
    height: 100%;
    width: 100%;
}

.fake_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 140px;
    border: 1px solid black;
    cursor: pointer;
}

.fake_button:hover {
    background: linear-gradient(#fcfef4, #eaebd3);
    color: red;
}
