* {
    margin: 0;
}

.block-main {
    background-image: url('../public/pool-floaty-fun.jpg');
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.block-main-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-tagline {
    display: flex;
    padding-left: 50px;
}

.block-text-tagline {
    font-size: 60px;
    color: White;
    font-family: 'Nerko One', cursive;
}

.block-notification {
    display: flex;
    justify-content: center;
}

.block-all-amount {
    display: flex;
    justify-content: center;
    align-items: center;
}